/* root values */
:root {
    /* Base Font Family */
    --font-primary: "Roboto", sans-serif;

    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Font Sizes */
    --font-size-base: 16px;
    --font-size-heading: 2rem;
    --font-size-subheading: 1.5rem;

    /* color */
    --color-secondary: #5E3BEE;
    --color-white: #FFFFFF;
    --color-background: #F5FCFF;
    --color-pink: #E62872;
    --color-emerald: #006B6A;
}

body {
    font-family: var(--font-primary);
}

#contact-btn {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.main-margin {
  margin-inline: 5rem;
}

.btn-purple{
  color: var(--color-white);
  background-color: var(--color-secondary);
}

.background-secondary {
  background-color: var(--color-background);
}

.skills img {
  width: 3rem;
  height: auto;
  background-color: var(--color-white);
}

/* portfolio section */
#visit-site {
  color: var(--color-white);
  background-color: var(--color-pink);
}
.btn-underline {
  font-size: small;
  border-bottom: 2px solid var(--color-secondary);
}

.btn-underline img {
  height: 1rem;
}

/* testimonial */
.star-icon {
  color: var(--color-emerald);
}

.border-emerald {
  border-color: var(--color-emerald);
}

