/* root values */
:root {
    /* Base Font Family */
    --font-primary: "Roboto", sans-serif;

    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Font Sizes */
    --font-size-base: 16px;
    --font-size-heading: 2rem;
    --font-size-subheading: 1.5rem;

    /* color */
    --color-secondary: #5E3BEE;
}

body {
    font-family: var(--font-primary);
}

#contact-btn {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}
